<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Popcorn Database - Trending Movies</title>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <%- include ./partials/header %>
    </header>
    <main class="container ">
    <section>
      <div class="row">
        <%- include ./partials/searchForm %>
      </div>
    </section>
    <section class="row">
      <div class="col s12 center-align">
        <h1>What's Popping?</h1>
      </div>
    </section>
      <div class="row"> 
      <% movies.forEach((movie, index) => { %>
        <div class="col s4 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src=<%= 'http://image.tmdb.org/t/p/original'+ movie.poster_path %>>
            </div>
            <div class="card-reveal">
              <i class="card-title material-icons right">close</i>
              <span class="card-title grey-text text-darken-4"><%= movie.title %></span>
              <p><%= `Release Date: ${movie.release_date}` %></p>
              <div class="rating">
                <img class="tmdb-logo" src="img/tmdb-logo.svg"></img>
                <span><%= `${movie.vote_average}/10` %></span>
              </div>
              <p class="text-center"><a href=<%="/movie/" + movie.id %>>See More</a></p>
            </div>
          </div>
        </div>
      <% }) %>
      </div>
    </main>
    <section class="row">
      <div class="col s12">
      </div>
    </section>
    <%- include ./partials/footer %>
  </body>
</html>